<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Postcard Your Future</title>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header></header>
        <main>
            <section class="landing">
        
                <div class="logo">
                    <img src="../img/Postcard your Future.png"></img>
                </div>

                </div class="button">
                    <button class="start" onclick="createForm()">Start</button>
                </div>
    
            </section>
        </main>

        <footer  class="footer">
            <div>Made by JPMC for Udacity's Front End Nanodegree - Capstone Travel Project</div>
        </footer>

        <script>//add js here</script>
    </body>

