<!DOCTYPE html>
<html>
    <head>
        <title>Postcard Your Future</title>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header></header>
        <main>
            <section class="landing">
        
                <div class="logo">
                    <img src="../img/Postcard your Future.png"></img>
                </div>

                </div class="button">
                    <button class="start" onclick="location.href='#inputPage';">Start</button>
                </div>
            </section>

            <section id="inputPage">
                <div class="from">
                    <input type="text" name="from" autocomplete="off" required />
                    <label for="from" class="label-name" >
                        <span class="content-name">From</span>
                    </label>
                </div>
                <div class="to">
                    <input type="text" name="to" autocomplete="off" required />
                    <label for="to" class="label-name" >
                        <span class="content-name">To</span>
                    </label>
                </div>
                <div class="date">
                    <input type="date" id="Departure" required />
                    <label for="Departure" class="label-name" >
                        <span class="Date-name">Out</span>
                    </label>
                    <input type="date" id="Arrival" required />
                    <label for="Arrival" class="label-name" >
                        <span class="Date-name">Return</span>
                    </label>
                </div>
        
                <div>
                    <div id="quote">
                        <p><em>"To see the world, things dangerous to come, to see behind walls, draw closer, 
                        to find each other, and to feel. That is the purpose of life."</em></p>
                    </div>
                </div>
                <div>
                    </div class="button">
                        <button id="create" onclick="createResults()">Create</button>
                    </div>
                </div>

        

            </section>

        </main>



        <script>//add js here</script>
    </body>

